a:active {
    color: brown;
    background-color: blue;
}

a:link {
    color: chartreuse;
}

a:visited {
    color: aqua;
}

a:hover {
    background-color: yellow;
    text-decoration: none;
}

ul li {
    list-style-type: square;
}